:root {
    --scale-value:1;
}




*,
*::before,
*::after, 
*:focus {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size:62.5%;
}
body {
    background-color:#000900;
    user-select: none;
    overflow:hidden;
}

.game {
    position:fixed;
    display:flex;
    top:0;
    left:0;
    bottom:0;
    right:0;
    justify-content: center;
    align-items: center;
}

.game__container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(var(--scale-value));
    transform-origin: center;
    width:64rem;
    height: 48rem;
    background-image:url('/images/splashscreen.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.game__layer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.start-screen {
    display:flex;
    flex-direction: column;
    padding-top:21rem;
    align-items:center;
}

.start-screen__button {
    display:flex;
    flex-grow:0;
    margin-top:1rem;
    width:12.4rem;
    max-width:36.3rem;
    height:6rem;
    cursor: pointer;
    border:0;
    background-image:url('/images/button-start.png');
    background-color:transparent;
    background-size:cover;
    background-repeat:no-repeat;

}

.start-screen__button:hover {
    background-image: url('/images/button-start-hover.png');
}

.start-screen__button--is-settings {
    background-image:url('/images/button-settings.png')
}


.start-screen__button--is-settings:hover {
    background-image:url('/images/button-settings-hover.png')
}



.level-select {
    display:flex;
    padding: 17.5rem 12.5rem;
    flex-wrap:wrap;
    background-image:url('/images/levelselectscreen.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.level-select__button {

    width:5rem;
    height:5rem;
    margin-right:2rem;
    border:0;
    font-size:2rem;
    background-image: url('/images/levelicon.png');
    background-size:cover;
    background-color:transparent;
    cursor: pointer;
}
.level-select__button:hover {
    background-image: url('/images/leveliconhover.png');
}

.end-screen {
    z-index: 11;
    display:flex;
    flex-direction: column;
    padding: 15rem 20rem 10rem;
    background-image: url('/images/result-screen-lose.png');
    background-color:rgba(100,100,100,0.3);
    background-size:30rem;
    backdrop-filter: blur(0.2rem);
    background-repeat: no-repeat;
    background-position: center top;
}

.end-screen--is-win {
    background-image: url('/images/result-screen-win.png');
   
}

.end-screen__header {
    text-align:center;
    font-size:2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.end-screen__points {
    margin: 1rem 2rem 3rem;
    
}

.end-screen__buttons-wrapper {
    display: flex;
    justify-content: space-around;
}

.end-screen__button {
    border:0;
    width:5rem;
    height:5rem;
    background-image:url('/images/button-exit.png');
    background-size:5rem;
    background-repeat: no-repeat;
    background-color:transparent;
    cursor: pointer;

}
.end-screen__button:hover {
background-image:url('/images/button-exit-hover.png')
}

.end-screen__button--is-restart {
    background-image:url('/images/button-restart.png')
}
.end-screen__button--is-restart:hover {
    background-image:url('/images/button-restart-hover.png')
}

.setting-screen {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 12.5rem 20rem;
    z-index: 10;
    background-image: url('/images/settings-screen.png');
    background-color:rgba(100,100,100,0.3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:35rem;
    backdrop-filter: blur(0.2rem);
}

.settings-screen__buttons-group {
    display:flex;
    justify-content: center;
    margin-bottom:3rem;
}

.settings-screen__button {
    margin-right:1rem;
    width:5rem;
    height:5rem;
    border:0;
    background-color:transparent;
    background-size:5rem;
    cursor: pointer;
}

.settings-screen__button--is-music {
    background-image:url('/images/button-music.png')
}

.settings-screen__button--is-up {
    background-image:url('/images/button-plus.png')
}

.settings-screen__button--is-down {
    background-image:url('/images/button-minus.png')
}

.settings-screen__button--is-sound {
    background-image:url('/images/button-sound.png')
}

.settings-screen__button--is-exit {
    background-image:url('/images/button-exit.png')
}

.settings-screen__button--is-up:hover {
    background-image:url('/images/button-plus-hover.png')
}

.settings-screen__button--is-down:hover {
    background-image:url('/images/button-minus-hover.png')
}

.settings-screen__button--is-sound:hover {
    background-image:url('/images/button-sound-hover.png')
}
.settings-screen__button--is-music:hover {
    background-image:url('/images/button-music-hover.png')
}

.setting-screen__button--is-exit:hover {
    background-image:url('/images/button-exit-hover.png')
}




.hidden {
    display:none;
}